@model IEnumerable<Сongratulation.Models.СongratulateUser>
@{
  ViewData["Title"] = "Home Page";
  Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
  <link href="~/css/site.css" rel="stylesheet" />
  <link href="~/css/formAddCongratulateUser.css" rel="stylesheet" />
</head>
<body>
   <button class="addCongratulateUserBtn--showHideForm">Добавить поздравляемого</button>
  @foreach(var user in @Model) {
   <div>@user.Alias - @user.Name - @user.Surname - @user.BirthdayDate</div> }
  <div class="form-addCongratulateUser">
    <div class="form-addCongratulateUser--alias"><input type="text" name="alias" value="" /></div>
    <div class="form-addCongratulateUser--name"><input type="text" name="name" value="" /></div>
    <div class="form-addCongratulateUser--surname"><input type="text" name="surname" value="" /></div>
    <div class="form-addCongratulateUser--birthdayDate"><input type="text" name="birthdayDate" value="" /></div>
  </div>
  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/vue/dist/vue.js"></script>
  <script src="~/js/site.js"></script>
  <script src="~/js/CongratulateUserAdd.js"></script>
  </body>
</html>