@model Сongratulation.Models.СongratulateUser
@{
  ViewData["Title"] = "Home Page";
  Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
</head>
<body>
 
   <div>@Model.Alias - @Model.Name - @Model.Surname - @Model.BirthdayDate</div>
 
  </body>
</html>