@model IEnumerable<Models.CongratulateUser>
@{
  ViewData["Title"] = "Home Page";
  Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
</head>
<body>
 @foreach(var item in Model)
 {
   <div>item.Alias</div>

 }
  </body>
</html>