@model IEnumerable<Сongratulation.Models.СongratulateUser>
@{
  ViewData["Title"] = "Home Page";
  Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
  <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
  <link href="~/css/site.css" rel="stylesheet" />
  <link href="~/css/formAddCongratulateUser.css" rel="stylesheet" />
</head>
<body>
  <button class="addCongratulateUserBtn--showHideForm">Добавить поздравляемого</button>
  @foreach (var user in @Model)
  {
    <div>@user.Alias - @user.Name - @user.Surname - @user.BirthdayDate</div> }
  <div class="form-addCongratulateUser">
    <div class="form-addCongratulateUser--alias m-t-1 row">
      <div class="col-xs-1">
        <label>Псевдоним:</label>
      </div>
      <div class="col-xs-6">
        <input type="text" name="alias" value="" />
      </div>
    </div>
    <div class="form-addCongratulateUser--name m-t-1 row">
      <div class="col-xs-1">
        <label>Имя:</label>
      </div>
      <div class="col-xs-6">
        <input type="text" name="name" value=""/>
      </div>
    </div>
    <div class="form-addCongratulateUser--surname m-t-1 row">
      <div class="col-xs-1">
        <label>Фамилия:</label>
      </div>
      <div class="col-xs-6">
        <input type="text" name="surname" value=""/>
      </div>
    </div>
    <div class="form-addCongratulateUser--birthdayDate m-t-1 row">
      <div class="col-xs-1">
        <label>Дата рождения:</label>
      </div>
      <div class="col-xs-6">
        <input type="text" name="birthdayDate" value=""/>
      </div>
    </div>
  </div>
  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/vue/dist/vue.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="~/js/site.js"></script>
  <script src="~/js/CongratulateUserAdd.js"></script>
</body>
</html>