@{
  ViewBag.Title = "Home Page";
}

<div class="row">
  <div class="col-6"></div>
  <div class="col-6">
    <h2 class="main-cardHeader">С помощью нашего сайта вы сможете создать  страницу в интернете с поздравлениями и пожеланиями</h2>
    <p class="main-cardDescription">для своего друга, родственника или коллеги с праздником. Подарите ему личную страницу в интернете</p>
  </div>
</div>
<div class="row">
  <div class="col-6"></div>
  <div class="col-6">
    <h2 class="main-cardHeader">Не нужно знать программирование</h2>
    <p class="main-cardDescription">Просто набери заголовок, выбери готовое поздравление или  придумай своё, выбери подарок, добавь фотографии с поздравляемым.</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2 class="main-cardHeader">Передайте адрес страницы вашим общим друзьм и знакомым</h2>
    <p class="main-cardDescription">и они смогут добавить свои поздравления и общие фотографии</p>
    <button type="button" class="btn btn-link btn-block">Создать открытку</button>
  </div>
</div>
<div class="row">
  <div class="col-12">
   <h4 class="main-fidbackHeader text-uppercase text-center">отзывы</h4>
    <div class="main-fidbackGalery">Galery here</div>
    <button type="button" class="btn btn-link btn-block text-uppercase">оставить отзыв</button>
  </div>
</div>
