@{
  ViewBag.Title = "Home Page";
}

<div class="container">
  <div class="row header">
    <div class="col-12">
      <h1>Подари открытку!!!</h1>
    </div>
  </div>
  <hr />
  <div class="row about">
    <div class="col-12">
      <h2>Здесь вы можете создать интерактивную открытку</h2>
      <p>Для друзей, знакомых, любимых, братьев и сестёр</p>
      <p>Для всех кого хотите порадовать</p>
    </div>
  </div>
  <hr />
  <div class="row card-galery">
    <div class="col-12">
      <img src="#" alt="Открытка" />
      <img src="#" alt="Открытка" />
      <img src="#" alt="Открытка" />
    </div>
  </div>
</div>
